{% extends 'base.html' %}

{% block title %}Публікації{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Публікації</title>
</head>

<body>
    <h2>Публікації</h2>

    {% if category %}
        <h4>{{ category }}</h4>
    {% endif %}

    {% for item in items %}
        <div class="articles-row">
            <a href="{{ item.get_absolute_url }}">
                <h4>{{ item.title }}</h4>
            </a>
            <h5>{{ item.pub_date|date:"j E Y" }}</h5>
            <p>{{ item.description|striptags|truncatewords_html:32 }}</p>
            
            {% if item.images.all %}
            <div class="container-image">
                <img class="img" src="{{ item.images.all.0.image.url }}" alt="">
            </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="back-home">
        <a href="/">На головну</a>
    </div>
</body>
</html>
{% endblock %}

