{% extends 'base.html' %}

{% block title %}Головна{% endblock %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
</head>
<body>
    <h1>Ласкаво просимо на сайт блогу!</h1>
    <p>Тут ви можете читати наші публікації або перейти до інших розділів:</p>

    <ul>
        <li><a href="{% url 'articles-list' %}">Переглянути публікації</a></li>
        <li><a href="#">Контакти</a></li>
        <li><a href="#">ℹПро нас</a></li>
    </ul>
</body>
</html>
{% endblock %}
